/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

 body {
    font-family: 'Noto Sans Japanese', 'Segoe UI', sans-serif;
    color: #0A317A;
    background-color: #F5F5F5;
    width: 70vw;
    margin: 0 auto;
}

.main-title{
    margin-bottom: 2em;
}

input, textarea {
    font-family: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #f00;
}

table {
    width: 100%;
}

td, th {
    text-align: left;
    border-bottom: 1px dotted #B5B9C5;
    border-right: 1px dotted #B5B9C5;
    padding: 19px 0;
    padding: 0 8px;
}

td.title {
    width: 27%;
}

.float-right {
    float: right;
}

.button {
    border: 1px solid;
    padding: 12px;
    border-radius: 20px;
    background: #0A317A;
    color: white;
}

.button:hover {
    background: #CC3A9B;
}

.button a:hover {
    color: inherit;
}

.error {
    font-size: 0.9em;
    color: tomato;
    margin-bottom: 16px;
}

.footer {
    margin: 50px 0;
    border-top: 1px dotted lightgray;
}